Body {
  background-color:#3A3A3A;
  text-align: center;
}

head {
  color: black;
    font-family: Times New Roman;
  }
nav {
  padding: 3em;
  font-family: font-family: Verdana, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #333;
}
nav li a {
  color: white;
  display: block;
  text-decoration: none;
  padding: .5em 1em;
}
nav li a:hover {
  background: lightblue;
  color: black;
}



